{{ $slug := .Get "slug" }}
{{ $title := .Get "title" }}
{{ $href := printf "/research/territorial-engineering/%s/" $slug }}
{{ $page := .Site.GetPage (printf "/research/territorial-engineering/%s" $slug) }}
{{ $img := "" }}
{{ with $page }}
  {{ $img = .Params.image }}
{{ end }}
{{ if not $img }}
  {{ $img = printf "/images/research/territorial-engineering/%s.png" $slug }}
{{ end }}
<a class="essay-row" href="{{ $href }}">
  <div class="essay-thumb">
    <img src="{{ $img }}" alt="{{ $title }}" loading="lazy">
  </div>
  <div class="essay-body">
    <div class="essay-title">{{ $title }}</div>
    <div class="essay-desc">{{ .Inner | .Page.RenderString }}</div>
  </div>
</a>
